<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Buff</title>
</head>
<body>
    <h1>Movie Buff</h1>
    <input type="text" name="buff_search" placeholder="Search movie or actors..">
    <h2>Add to MovieBuff</h2>
    <form action="/add_actor">
        <p>Actor Name: <input type="text" name="actor_name"></p>
        <input type="submit" value="Add Actor">
    </form>
    <form action="/add_movie">
        <p>Movie Name: <input type="text" name="movie_name"></p>
        <input type="submit" value="Add Movie">
    </form>
    <h1>All Actors</h1>
      {% for actor in actors %}
        <h5>{{ actor.actor_name }}</h5>
      {% endfor %}
    <h1>All Movies</h1>
      {% for movie in movies %}
        <h5>{{ movie.movie_name }}</h5>
      {% endfor %}
    <a href="#">View All Actors</a>
    <a href="#">View All Movies</a>
</body>
</html>
